/* POKEBOLA */

.bola {
  border: none;
  background: transparent;

  cursor: pointer;

  transition: transform 0.3s ease;
}

.bola:hover {
  transform: scale(1.1) rotate(10deg);
}

.bola img {
  width: 70px;
  height: 70px;
}

/* BOTÃO */

.pokebola {
  padding: 15px 25px;

  border: none;
  border-radius: 12px;

  background: #ff1c1c;

  cursor: pointer;

  transition: 0.3s;
}

.pokebola:hover {
  background: #d40000;
  transform: scale(1.05);
}

.pokebola a {
  text-decoration: none;
  color: white;

  font-family: 'Press Start 2P', cursive;
  font-size: 14px;
}